<ul class="accordion margin-top-md">
  {% if product.metafields.custom_fields["product_specs"] != blank %}
  <!-- <li class="border-bottom">
    <a class="toggle flex justify-between" href="javascript:void(0);">
      <h4>Overview</h4>
      <div>
        <div class="circle-plus closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
        <div class="circle-plus-two closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
      </div>
    
    
    </a>
    <div class="inner-0">
      <ul>
      {% if product.metafields.custom_fields["product_specs"] != blank %}
      {% assign data_attr = shop.metafields._cf_products["product_specs"].data_attr %}
        {% for item in product.metafields.custom_fields["product_specs"] %}
          <div class="flex is-justify-space-between border-bottom padding-y-md" data-index="{{ forloop.index0 }}">
            <div class="cf-accordion-title text-bold">
              {{ item.title }}
            </div>
            <div class="inner">
              <div class="inner-padding">
                  {% if item.body != blank %}
                    {{ item.body }}
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
      {% endif %}
      </ul>
      {% if product.description != blank %}
      <div class="description content padding-y-sm">
        {{ product.description }}
      </div>
    {% endif %}
    </div>


  </li> -->
  {% endif %}


  <li class="border-bottom">
    <a class="toggle flex justify-between" href="javascript:void(0);">
      <h4>Features</h4>
      <div>
        <div class="circle-plus closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
        <div class="circle-plus-two closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
      </div>
    </a>
    <div class="inner-0 list">
      {% if product.metafields.custom_fields["recipe_details"] != blank %}
      {{ product.metafields.custom_fields["recipe_details"] }}
      {% else %}
      <p>We're working on this, check back soon :)</p>
      {% endif %}
    </div>
  </li>


  
  <li class="border-bottom">
    <a class="toggle flex justify-between" href="javascript:void(0);">
      <h4>Ingredients</h4>
      <div>
        <div class="circle-plus closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
        <div class="circle-plus-two closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
      </div>
    </a>
    <div class="inner-0 list">
      {{ product.metafields.custom_fields["guaranteed_analysis"] }}
      {% if product.metafields.custom_fields["guaranteed_analysis"] != blank %}
      {{ product.metafields.custom_fields["guaranteed_analysis"] }}
      {% else %}
      <p>We're working on this, check back soon.</p>
      {% endif %}
    </div>
  </li>
 



  {% if product.metafields.custom_fields["feeding_guidelines"] != blank %}
  <li class="border-bottom">
    <a class="toggle flex justify-between" href="javascript:void(0);">
      <h4>Feeding Guidelines</h4>
      <div>
        <div class="circle-plus closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
        <div class="circle-plus-two closed">
          <div class="circle">
            <div class="horizontal"></div>
            <div class="vertical"></div>
          </div>
        </div>
      </div>
    </a>
    <div class="inner-0 list">
      {{ product.metafields.custom_fields["feeding_guidelines"] }}
    </div>
  </li>
  {% endif %}

</ul>