{% comment %}
** Collections - main view **
- Collection main area that holds the promotion banner, thumbnails and pagination
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{%- assign id = object.id -%}
{% comment %}Layout{% endcomment %}
{%- assign width = object.settings.width -%}
{%- assign padding_top = object.settings.padding_top -%}
{%- assign padding_bottom = object.settings.padding_bottom -%}
{% comment %} Advanced {% endcomment %}
{%- assign css_class = object.settings.css_class -%}
{%- assign custom_css = object.settings.custom_css -%}

{% comment %} CSS {% endcomment %}
{% style %}
  .section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' -%}
      width: 100%;
      max-width: 95%;
    {%- endif %}
  }

  .on-subcollection-page.section__wrapper {
    {% if width == 'wide' -%}
      max-width: none;
    {%- endif %}
  }

  {% if object.settings.collection_breadcrumb == false %}
    .breadcrumb__container {
      display: none;
    }
  {% endif %}

  {% if object.settings.pagination_type != 'basic_pagination' %}
    .breadcrumb__page-count {
      display: none;
    }
  {% endif %}

  {% if object.settings.collection_tags == false %}
    .collection__tag-filter {
      display: none;
    }
  {% endif %}

  {% if object.settings.collection_sort == false %}
    .collection__sort-by-filter {
      display: none;
    }
  {% endif %}

  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% paginate collection.products by object.settings.pagination_limit %}

<div class="collection__main {{ css_class }}" data-collection-main>
  {% if object.settings.show_promo_banner %}
    <div class="collection-promo-banner container">
      <div class="banner__wrapper
                  one-whole
                  column
                  dark-overlay-{{ object.settings.image_darken }}
                  is-{{ object.settings.banner_height }}
                  has-margin-bottom">
        {% if object.settings.image != blank %}
          {% render 'image-element',
                  image: object.settings.image,
                  alt: object.settings.image.alt,
                  stretch_width: true
          %}
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="banner__content card-content">
          <div class="banner__text text-align-center">
            <h1 class="banner__heading title">{{ object.settings.promo_title }}</h1>
            {% if object.settings.promo_text != blank %}
              <div class="banner__subheading subtitle">{{ object.settings.promo_text }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if collection.products.size == 0 %}
    <div class="container container--no-products-in-collection text-align-center has-padding-bottom has-padding-top">
      <div class="one-whole column">
        <h2>{{ 'collections.general.no_matches_title' | t }}</h2>
        <p class="margin-bottom-md">{{ 'collections.general.no_matches_desc' | t }}</p>

        {% include 'svg' with 'dog-follow' %}
        
      </div>
    </div>
  {% else %}
    <div class="collection-matrix__wrapper">
      <div class="collection__loading-icon button is-loading is-loading--icon-only"></div>
      <div class="container collection-matrix" {% if object.settings.pagination_type != 'basic_pagination' %}data-load-more--grid {% endif %}>
        {%- assign products_per_row = object.settings.products_per_row -%}
        {%- assign mobile_products_per_row = object.settings.mobile_products_per_row -%}
        {% render 'product-loop',
                products: products,
                products_per_row: products_per_row,
                mobile_products_per_row: mobile_products_per_row,
                limit: object.settings.pagination_limit,
                align_height: object.settings.align_height,
                height: object.settings.collection_height
        %}
      </div>
    </div>
  {% endif %}

  <div class="container container--pagination">
    <div class="one-whole column text-align-center">
      {%- assign load_more_text = 'collections.general.pagination_button' | t -%}
      {% render 'pagination',
              paginate: paginate,
              pagination_type: object.settings.pagination_type,
              load_more_text: load_more_text
      %}
    </div>
  </div>

  <!-- Custom Sections - START -->
  {% assign banner_video_url_id = '' %}
  {% assign callout_title = '' %}
  {% assign callout_subtitle = '' %}
  {% assign callout_image = '' %}
  {% assign callout_link_title = '' %}
  {% assign callout_link_url = '' %}

  {%- for block in section.blocks -%}
    {%- if block.type == 'video_by_coll' -%}
      {%- comment -%} A separate 'if' avoids parallel execution of both conditions. Don't combine with 'and' operator.{%- endcomment -%}
      {%- if collection.handle == block.settings.coll_video_collectionhandle -%}
        {%- assign banner_video_url_id = block.settings.coll_video_url.id -%}
        {%- break -%}
      {%- endif -%}
    {%- endif -%}

    {%- if block.type == 'callout' -%}
      {%- if collection.handle == block.settings.callout_collectionhandle -%}
        {%- assign callout_title = block.settings.callout_title -%}
        {%- assign callout_subtitle = block.settings.callout_subtitle -%}
        {%- assign callout_image = block.settings.callout_image -%}
        {%- assign callout_link_url = block.settings.callout_link_url -%}
        {%- assign callout_link_title = block.settings.callout_link_title -%}
        {%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if banner_video_url_id != blank -%}
    {%- capture ytparam -%}
      {%- if section.settings.banner_video_autoplay -%}&amp;autoplay=1{%- endif -%}
      {%- if section.settings.banner_video_hidecontrols -%}&amp;controls=0{%- endif -%}
    {%- endcapture -%}
    <div style="position: relative; overflow: hidden; width: 100%; padding-top: 10%;">
    <iframe style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;" type="text/html"
    src="https://www.youtube.com/embed/{{ banner_video_url_id }}?modestbranding=1{{ ytparam }}"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    </div>
  {%- endif %}

  {%- if callout_title != blank -%}
    <section class="
    {{ css_class }}
    is-width-{{ width }} margin-bottom-xl margin-top-lg order-2">
      <div class="container
      {% if width == 'wide' %}
      equal-columns--outside-trim
      {% endif %}">
        <div class="bg-primary-lighter callout-banner 
        one-whole
        column
        is-{{ banner_height }} flex is-flex-wrap  is-align-center overflow-hidden">
          <div class="card-content one-half
            small-down--one-whole">
            <div class="banner__text">
            <h3 class="title">{{ callout_title }}</h3>
            {% if callout_subtitle != blank %}
            <p class="subtitle">{{ callout_subtitle }}</p>
            {% endif %}
            {% if callout_link_url != blank %}
            <a class="subtitle link padding-top-lg scribble-text-fx scribble-text-fx--v5 color-inherit" href={{ callout_link_url}}><span class="scribble-text-fx__label">{{ callout_link_title }}</span>  <svg class="scribble-text-fx__decoration" viewBox="0 0 22 22" aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M3.693,9.52c.214-1.812.414-1.788.628-3.6s.154-1.819.368-3.631" /><path d="M11.02,11.4c1.24-1.452.966-1.686,2.205-3.139s1.206-1.485,2.448-2.94,1.426-1.3,2.668-2.752"/><path d="M15.6,17.185c2.183-.243,2.184-.232,4.367-.475"/></svg></a>
            {% endif %}
            </div>
          </div>
          <div class=" one-half small-down--one-whole">
            {% if callout_image != blank %}
            <div class="callout-img  flex is-justify-end">
              <img src="{{ callout_image | img_url: 'medium' }}">
            {% endif %}
            </div>
          </div>  
        </div>
      </div>
    </section>
  {%- endif %}

  <!-- {% include 'collection__nav' %} -->
<!-- Custom Sections - END -->



</div>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ object.id }}"
  data-section-data
>
  {
    "enable_filter": {{ object.settings.collection_tags | json }},
    "enable_sorting": {{ object.settings.collection_sort | json }},
    "enable_breadcrumb": {{ object.settings.collection_breadcrumb | json}},
    "pagination_type": {{ object.settings.pagination_type | json }},
    "number_of_pages": {{ paginate.pages | json }}
  }
</script>

{% endpaginate %}

<script src="{{ 'z__jsCollection.js' | asset_url }}"></script>
{% schema %}
{
  "name": "Collection",
  "class": "collection-template-classic collection-main has-sidebar-option jsCollection",
  "settings": [
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Show product tag filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Show sort by filter",
      "default": true
    },
    {
      "type": "header",
      "content": "Promotional banner"
    },
    {
      "type": "checkbox",
      "id": "show_promo_banner",
      "label": "Show promotional banner",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 800px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": true
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Heading",
      "default": "Special sale on now!"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "default": "<p>Description of promotion with lots of details.</p>"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "Banner height",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product thumbnails"
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align to height",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Product image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px",
      "info": "Applied when 'Align to height' is also enabled. [Learn more](#)"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 7,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Products per row on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "options": [
        {
          "value": "infinite_scroll",
          "label": "Infinite scroll"
        },
        {
          "value": "infinite_load_more",
          "label": "Infinite load more button"
        },
        {
          "value": "load_more",
          "label": "Load more button"
        },
        {
          "value": "basic_pagination",
          "label": "Page links"
        }
      ],
      "default": "basic_pagination"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "video_by_coll",
      "name": "Video by Collection",
      "settings": [
        {
          "type": "collection",
          "id": "coll_video_collectionhandle",
          "label": "Collection to apply"
        },
        {
          "type": "video_url",
          "id": "coll_video_url",
          "label": "YouTube video URL",
          "accept": ["youtube"],
          "info": "To disable the video, leave this blank."
        }
      ]
    },
    {
      "name": "Callout banner",
      "type": "callout",
      "settings": [
        {
          "type": "collection",
          "id": "callout_collectionhandle",
          "label": "Collection to apply"
        },
        {
          "type": "image_picker",
          "id": "callout_image",
          "label": "Image",
          "info": "300 x 300px recommended"
        },
        {
          "type": "text",
          "id": "callout_title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "callout_subtitle",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "callout_link_title",
          "label": "Link title",
          "default": "Learn more ➞"
        },
        {
          "type": "url",
          "id": "callout_link_url",
          "label": "Your link"
        },
    
        {
          "type": "header",
          "content": "Advanced"
        },
        {
          "type": "paragraph",
          "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
        },
        {
          "type": "text",
          "id": "css_class",
          "label": "CSS Class"
        },
        {
          "type": "textarea",
          "id": "custom_css",
          "label": "Custom CSS"
        }
      ]
    }
  ]
}

{% endschema %}
