{% comment %}
** Collections - subcollection view **
- Features a subset of collections and products on a page
{% endcomment %}

{% assign id = section.id %}
{% assign overlay_background_opacity = section.settings.overlay_background_opacity %}
{% assign overlay_background = section.settings.overlay_background %}
{% assign overlay_text = section.settings.overlay_text %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Buttons {% endcomment %}
{% assign button_style = section.settings.button_style %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}
{% assign show_collection_products = section.settings.show_collection_products %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign overlay_alpha = overlay_background | color_extract: 'alpha' %}
{% assign overlay_text_alpha = overlay_text | color_extract: 'alpha' %}
{% comment %} Opacity level {% endcomment %}
{% if overlay_alpha != 0 %}
  {% assign overlay_background_alpha = overlay_background_opacity | divided_by: 100.00 %}
{% endif %}

{% if section.settings.align_height %}
  {% assign collection_height = section.settings.collection_height %}
{% endif %}

{% assign menu = linklists[collection.handle] %}







{%- capture section_css -%}
  .collection-thumbnail-overlay {
    background-color: {%- if overlay_alpha != 0 -%}{{ overlay_background | color_modify: 'alpha', overlay_background_alpha }}{% endif %}
  }

  .collection-info__caption span {
    color: {%- if overlay_text_alpha != 0 -%}{{ overlay_text }}{% endif %}
  }

  {%- if section.settings.align_height -%}
    .placeholder-svg {
      height: {{ collection_height }}px;
      max-height: {{ collection_height }}px;
    }
  {%- endif -%}
{%- endcapture -%}

{% comment %} CSS {% endcomment %}
{%- style -%}
  .subcollection.section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {%- if width == 'wide' -%}
      width: 100%;
      max-width: none;
    {%- endif -%}
  }

  {% if section.settings.collection_breadcrumb == false %}
    .breadcrumb__container {
      display: none;
    }
  {% endif %}

  {% if section.settings.collection_tags == false %}
    .collection__tag-filter {
      display: none;
    }
  {% endif %}

  {% if section.settings.collection_sort == false %}
    .collection__sort-by-filter {
      display: none;
    }
  {% endif %}

  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{%- endstyle -%}


<!-- Custom Sections - START -->
        {% assign banner_video_url_id = '' %}
        {% assign callout_title = '' %}
        {% assign callout_subtitle = '' %}
        {% assign callout_image = '' %}
        {% assign callout_link_title = '' %}
        {% assign callout_link_url = '' %}

        {%- for block in section.blocks -%}
          {%- if block.type == 'video_by_coll' -%}
            {%- comment -%} A separate 'if' avoids parallel execution of both conditions. Don't combine with 'and' operator.{%- endcomment -%}
            {%- if collection.handle == block.settings.coll_video_collectionhandle -%}
              {%- assign banner_video_url_id = block.settings.coll_video_url.id -%}
              {%- break -%}
            {%- endif -%}
          {%- endif -%}

          {%- if block.type == 'callout' -%}
            {%- if collection.handle == block.settings.callout_collectionhandle -%}
              {%- assign callout_title = block.settings.callout_title -%}
              {%- assign callout_subtitle = block.settings.callout_subtitle -%}
              {%- assign callout_image = block.settings.callout_image -%}
              {%- assign callout_link_url = block.settings.callout_link_url -%}
              {%- assign callout_link_title = block.settings.callout_link_title -%}
              {%- break -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if banner_video_url_id != blank -%}
          {%- capture ytparam -%}
            {%- if section.settings.banner_video_autoplay -%}&amp;autoplay=1{%- endif -%}
            {%- if section.settings.banner_video_hidecontrols -%}&amp;controls=0{%- endif -%}
          {%- endcapture -%}
          <div style="position: relative; overflow: hidden; width: 100%; padding-top: 10%;">
          <iframe style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;" type="text/html"
          src="https://www.youtube.com/embed/{{ banner_video_url_id }}?modestbranding=1{{ ytparam }}"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
          </div>
        {%- endif %}

        {%- if callout_title != blank -%}
          <section class="
          {{ css_class }}
          is-width-{{ width }} margin-bottom-xl order-2">
            <div class="container
            {% if width == 'wide' %}
            equal-columns--outside-trim
            {% endif %}">
              <div class="bg-primary-lighter callout-banner 
              one-whole
              column
              is-{{ banner_height }} flex is-flex-wrap  is-align-center overflow-hidden">
                <div class="card-content one-half
                  small-down--one-whole">
                  <div class="banner__text">
                  <h3 class="title">{{ callout_title }}</h3>
                  {% if callout_subtitle != blank %}
                  <p class="subtitle">{{ callout_subtitle }}</p>
                  {% endif %}
                  {% if callout_link_url != blank %}
                  <a class="subtitle link padding-top-lg scribble-text-fx scribble-text-fx--v5 color-inherit" href={{ callout_link_url}}><span class="scribble-text-fx__label">{{ callout_link_title }}</span>  <svg class="scribble-text-fx__decoration" viewBox="0 0 22 22" aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M3.693,9.52c.214-1.812.414-1.788.628-3.6s.154-1.819.368-3.631" /><path d="M11.02,11.4c1.24-1.452.966-1.686,2.205-3.139s1.206-1.485,2.448-2.94,1.426-1.3,2.668-2.752"/><path d="M15.6,17.185c2.183-.243,2.184-.232,4.367-.475"/></svg></a>
                  {% endif %}
                  </div>
                </div>
                <div class=" one-half small-down--one-whole">
                  {% if callout_image != blank %}
                  <div class="callout-img  flex is-justify-end">
                    <img src="{{ callout_image | img_url: 'medium' }}">
                  {% endif %}
                  </div>
                </div>  
              </div>
            </div>
          </section>
        {%- endif %}
<!-- Custom Sections - END -->

  {% if section.settings.show_promo_banner %}
    <div class="collection-promo-banner container">
      <div class="banner__wrapper
                  one-whole
                  column
                  dark-overlay-{{ section.settings.image_darken }}
                  is-{{ section.settings.banner_height }}
                  has-margin-bottom">
        {% if section.settings.image != blank %}
          {% render 'image-element',
                  image: section.settings.image,
                  alt: section.settings.image.alt,
                  stretch_width: true
          %}
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="banner__content card-content">
          <div class="banner__text text-align-center">
            <h1 class="banner__heading title">{{ section.settings.promo_title }}</h1>
            {% if section.settings.promo_text != blank %}
              <div class="banner__subheading subtitle">{{ section.settings.promo_text }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="list-collection-wrapper container {% unless section.settings.show_collections_products %} padding-y-xl {% endunless %}">
    {% assign menu = linklists[collection.handle] %}
    {% for link in menu.links %}
      {% assign collection = link.object %}
      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
      <div class="
        {% render 'column-width', value: section.settings.collections_per_row  %}
        column thumbnail
        {% if section.settings.align_height %}list-collection--align-height{% endif %}
        list-collection__thumbnail medium-down--one-half
        {% if section.settings.mobile_collections_per_row == '1' %}small-down--one-whole{% else %}small-down--one-half{% endif %}">
        <div class="product-wrap">
          <div class="collection-thumbnail-overlay"></div>

          {% if collection.image != blank %}
            {% assign collection_image = collection.image %}
            {% assign collection_image_alt = collection.image.alt | escape %}
          {% else collection.empty? == false %}
            {% assign collection_image = collection.products.first.featured_image %}
            {% assign collection_image_alt = collection.products.first.featured_image.alt | escape %}
          {% endif %}

          {% if collection_image != nil %}
            <div class="thumbnail image__container has-image-crop">
              {% render 'image-element',
                      image: collection_image.src,
                      alt: collection_image_alt,
                      image_crop: true,
                      max_height: collection_height
              %}
            </div>
          {% else %}
            {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
            {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <a class="collection-info__caption" href="{{ collection.url }}">
            {% if section.settings.collection_title_below_image == blank %}
              <div class="collection-info__caption-wrapper">
                <h4 class="title">
                  {{ collection.title }}
                </h4>
                {% assign view_products = 'collections.general.view_all' | t %}
                {% render 'button',
                        label: view_products,
                        href: collection.url,
                        style: section.settings.button_style
                %}
              </div>
            {% endif %}
          </a>
        </div>
        {% if section.settings.collection_title_below_image != blank %}
          <a class="collection-info__caption-wrapper collection-info__caption--below-image" href="{{ collection.url }}">
            <span class="title margin-bottom-xs">
              {{ collection.title }}
            </span>
            <span class="description margin-bottom-md">
              {{ collection.description }}
            </span>
            {% assign view_products = 'collections.general.view_all' | t %}
            {% if section.settings.show_button %}
              {% render 'button',
                      label: view_products,
                      href: collection.url,
                      style: section.settings.button_style
              %}
            {% endif %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>



  {% if section.settings.show_collections_products %}
    <div class="collection__filtering one-whole column">
      {% comment %} Collection filters {% endcomment %}
      <div class="collection__filters text-align-right">
        {% render 'collection__filters' %}
      </div>
    </div>

    {% paginate collection.products by section.settings.pagination_limit %}
      <div class="subcollection__featured-collection {{ css_class }}" data-collection-main>
        {% if collection.products.size > 0 %}
          <div class="collection-matrix__wrapper">
            <div class="container collection-matrix">
              {%- assign products_per_row = section.settings.products_per_row -%}
              {% render 'product-loop',
                      products: products,
                      products_per_row: products_per_row,
                      limit: section.settings.pagination_limit,
                      align_height: section.settings.align_thumbnail_height,
                      height: section.settings.thumbnail_height
              %}
            </div>
          </div>
        {% endif %}

        <div class="container container--pagination">
          <div class="one-whole column text-align-center">
            {% render 'pagination', paginate: paginate %}
          </div>
        </div>
      </div>
    {% endpaginate %}



  {% endif %}
</main>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_filter": {{ section.settings.collection_tags | json }},
    "enable_sorting": {{ section.settings.collection_sort | json }}
  }
</script>
<script src="{{ 'z__jsCollection.js' | asset_url }}"></script>

{% schema %}

{
  "name": "Sub collection",
  "class": "sub-collection-main flex flex-column has-sidebar-option jsCollection",
  "settings": [
  {
    "type": "header",
    "content": "Banner video"
  },
  {
    "type": "paragraph",
    "content": "Add blocks called 'Video by Collection' to set each collection's video. Following options apply to all videos."
  },
  {
    "type": "checkbox",
    "id": "banner_video_autoplay",
    "label": "Autoplay video",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "banner_video_hidecontrols",
    "label": "Hide the controls",
    "default": false
  },

    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_products",
      "label": "Show products",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Show product tag filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Show sort by filter",
      "default": true
    },
    {
      "type": "header",
      "content": "Promotional banner"
    },
    {
      "type": "checkbox",
      "id": "show_promo_banner",
      "label": "Show promotional banner",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 800px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": true
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Heading",
      "default": "Special sale on now!"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "default": "<p>Description of promotion with lots of details.</p>"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "Banner height",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Subcollections"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "mobile_collections_per_row",
      "label": "Collections per row on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align to height",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Collection image height",
      "min": 200,
      "max": 400,
      "step": 10,
      "default": 400,
      "unit": "px",
      "info": "Applied when 'Align to height' is also enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360024344614)"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "button--secondary",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--link-style",
          "label": "Link"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show button",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_background",
      "label": "Overlay",
      "default": "#939393"
    },
    {
      "type": "range",
      "id": "overlay_background_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 70,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "collection_title_below_image",
      "label": "Show collection title below image",
      "default": false
    },
    {
      "type": "header",
      "content": "Product thumbnails"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 7,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Products per row on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "align_thumbnail_height",
      "label": "Align to height",
      "default": false
    },
    {
      "type": "range",
      "id": "thumbnail_height",
      "label": "Product image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px",
      "info": "Applied when 'Align to height' is also enabled. [Learn more](#)"
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "video_by_coll",
      "name": "Video by Collection",
      "settings": [
        {
          "type": "collection",
          "id": "coll_video_collectionhandle",
          "label": "Collection to apply"
        },
        {
          "type": "video_url",
          "id": "coll_video_url",
          "label": "YouTube video URL",
          "accept": ["youtube"],
          "info": "To disable the video, leave this blank."
        }
      ]
    },
    {
      "name": "Callout banner",
      "type": "callout",
      "settings": [
        {
          "type": "collection",
          "id": "callout_collectionhandle",
          "label": "Collection to apply"
        },
        {
          "type": "image_picker",
          "id": "callout_image",
          "label": "Image",
          "info": "300 x 300px recommended"
        },
        {
          "type": "text",
          "id": "callout_title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "callout_subtitle",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "callout_link_title",
          "label": "Link title",
          "default": "Learn more ➞"
        },
        {
          "type": "url",
          "id": "callout_link_url",
          "label": "Your link"
        },
    
        {
          "type": "header",
          "content": "Advanced"
        },
        {
          "type": "paragraph",
          "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
        },
        {
          "type": "text",
          "id": "css_class",
          "label": "CSS Class"
        },
        {
          "type": "textarea",
          "id": "custom_css",
          "label": "Custom CSS"
        }
      ]
    }
  ]
}

{% endschema %}
